/* preset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-txt: #ffffff;
    --btn-bg: #0061FF;
    --light-bg: #B4D0E7;
    --box-bg-first: #A2D39B;
    --box-bg-second: #61082B;
    --box-bg-third: #D5001F;
    --box-bg-fourth: #0093CE;
    --box-bg-fifth: #0D2481;
    --box-bg-sixth: #FFD830;
    --bigger-box-bg: #F5F5F5;
    --dark-bg: #000000;
}

/* colors */

.primary-txt-color {
    color: var(--dark-bg);
}
.blue-check {
    color: var(--btn-bg);
}
.btn-bg {
    background-color: var(--btn-bg);
}
.transparent-txt {
    color: rgba(0, 0, 0, 0.5);
}

/* utility */

.debug {
    border: 1px solid black;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
.horizontal-list {
    display: inline-block;
}
.no-text-decoration {
    text-decoration: none;
}
.txt-side-padding {
    padding: 0 10px;
}
.txt-between-padding {
    padding: 30px 0;
}
.txt-gen-padding {
    padding: 25px;
}
.containers-between-margin {
    margin: 30px 0;
}
.txt-between-margin {
    margin: 10px 0;
}
.ml-30 {
    margin-left: 30px;
}
.mt-30 {
    margin-top: 30px;
}
.mb-30 {
    margin-bottom: 30px;
}
.blue-button {
    color: var(--light-txt);
    background-color: var(--btn-bg);
    padding: 8px 15px;
}
h2 {
    font-size: 2em;
}
.txt-center {
    text-align: center;
}
.white-button {
    font-size: 1.2em;
    background-color: white;
    padding: 10px;
    cursor: pointer;
}
.txt-indent {
    text-indent: -0.5em;
    margin: 1em;
}

/* header */

/* navbar */
nav {
    height: 70px;
    width: 100%;
}
.logo {
    width: 110px;
    cursor: pointer;
}
.utility {
    padding: 10px 15px;
}

/* hero */

#hero {
    background-color: var(--light-bg);
}
.wrapper {
    padding-top: 140px;
    width: 80vw;
    margin: 0 auto;
}
.bottom-hero {
    position: relative;
    bottom: -110px;
    left: 0;
}
.content-box {
    width: 35%;
}
.jumbo-box {
    width: 65%;
}
.jumbo {
    width: 80%;
    /* position: relative;
    bottom: -90px;
    left: 0; */
}
h1 {
    font-size: 5em;
}
.fa-arrow-down {
    font-size: 3em;
}

/* header */

/* main */

.container {
    width: 70vw;
    margin: 0 auto;
}

/* plans section */

.plans {
    margin-top: 80px;
}
input[type="radio"] {
    width: 1.5em;
    height: 1.5em;
    transform: translateY(0.4em);
}
.card {
    width: calc(100% / 3 - 60px);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.top-card {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
h3 {
    font-size: 1.7em;
}
.line {
    width: 125px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-left: 25px;
}

/* enterprise section */

.enterprise {
    width: 100%;
    margin-top: 80px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.desc {
    margin-top: 50px;
}

/* partner section */

.partner {
    width: 100%;
    margin-top: 120px;
}
.partner-foto {
    width: 60%;
}
.partner-foto > img {
    display: block;
    width: 100%;
}
.partner-content {
    width: 40%;
    padding: 80px;
}

/* flex */

.d-flex {
    display: flex;
}
.justify-space-between {
    display: flex;
    justify-content: space-between;
}
.justify-space-evenly {
    display: flex;
    justify-content: space-evenly;
}
.align-center {
    display: flex;
    align-items: center;
}
.side-gap {
    gap: 10px;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.flex-stretch {
    display: flex;
    align-items: stretch;
}


