/* preset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-txt: #ffffff;
    --btn-bg: #0061FF;
    --light-bg: #B4D0E7;
    --box-bg-first: #A2D39B;
    --box-bg-second: #61082B;
    --box-bg-third: #D5001F;
    --box-bg-fourth: #0093CE;
    --box-bg-fifth: #0D2481;
    --box-bg-sixth: #FFD830;
    --dark-bg: #000000;
}

/* colors */

.primary-txt-color {
    color: var(--dark-bg);
}

/* utility */

.debug {
    border: 1px solid black;
}
ul {
    list-style: none;
}
.horizontal-list {
    display: inline-block;
}
.no-text-decoration {
    text-decoration: none;
}
.txt-side-padding {
    padding: 0 10px;
}
.blue-button {
    color: var(--light-txt);
    background-color: var(--btn-bg);
    padding: 8px 15px;
}

/* header */

/* navbar */
nav {
    height: 70px;
    width: 100%;
}
.logo {
    width: 110px;
    cursor: pointer;
}
.utility {
    padding: 10px 15px;
}

/* hero */

#hero {
    background-color: var(--light-bg);
}
.wrapper {
    padding-top: 140px;
    width: 80vw;
    margin: 0 auto;
}
.content-box {
    width: 40%;
}
.jumbo-box {
    width: 60%;
}
.jumbo {
    width: 80%;
    position: relative;
    bottom: -90px;
    left: 0;
}
h1 {
    font-size: 5em;
}
.fa-arrow-down {
    font-size: 3em;
}

/* flex */

.justify-space-between {
    display: flex;
    justify-content: space-between;
}
.justify-space-evenly {
    display: flex;
    justify-content: space-evenly;
}
.align-center {
    display: flex;
    align-items: center;
}
.side-gap {
    gap: 10px;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}